<html>
  <header>
 <style type="text/css">
@media screen and (max-width:450px){
   h1{font-size: 20px !important}
   h5{font-size: 13px !important}
}
</style>
  </header>
  <body style=" margin: 0;
        padding: 0;
        background-color: #38b6ff;
        font-family: Arial, sans-serif;">
    <table style=" width: 100%;
        padding: 10px 5px;
        background-color: #38b6ff;
        height: 100%;"  class="outer-table" width="100%" >
      <tr  class="main-tr">
        <td style="padding:30px 7px !important;"  class="main-tr" align="center">
          <table   style="margin:0 !important; max-width: 600px;
        margin: 0 auto;
        background-color: #fdfdfd;
        border: 1px solid black;
        box-sizing: border-box;" class="box"  width="100%">
           

            
            <!-- Header Row -->
             <td>
                <td height="30">

                </td>
             </td>
            <tr>
              <td style="padding:0px 30px !important;" valign="middle">
                <img
                style=" width: 50%;
        max-width: 150px;
        min-width: 100px;"
                  src="https://lh3.googleusercontent.com/d/1skyODuR3b0uW4cDt8jAKQFBIwUy2pewc"
                  alt="Logo"
                />
              </td>
              <td style="padding:0px 30px !important;" valign="middle" align="right">
                <a href="#" style=" appearance: none;
        background-color: #fafbfc;
        border: 1px solid black;
        border-radius: 8px;
        box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
          rgba(255, 255, 255, 0.25) 0 1px 0 inset;
        font-size:13px;
        font-weight: 700;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        color: #24292e !important;
        display: inline-block;">Home</a>
              </td>
            </tr>

            <!-- Spacer -->
            

            <!-- Header Text -->
             <td>
                <td height="30">

                </td>
             </td>
            <tr >
              <td style="padding:0px 30px !important;"  colspan="2">
                <h1 style='font-family: "Degular Display", Arial, sans-serif;
        font-size: 25px;
        font-weight: 600;
        line-height: 44px;
        max-width: 80%;
        text-align: left;'>Hey {{firstName}} !</h1>
              </td>
            </tr>

            <!-- Spacer -->
         

            <!-- Body Text -->
             <td>
                <td height="35">

                </td>
             </td>
                 <tr>
              <td style="padding:0px 30px !important;"  colspan="2">
                <h5 style="font-family: Inter, Arial, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        margin: 0;">
                  We noticed you haven’t followed up after applying to work with
            LaceyStrong Coaching
            — and we get it. Life gets busy. But if you’re still thinking about
            chasing that next level in your training, now’s the time to move.
                </h5>
              </td>
            </tr>
             <tr>
               <td height="30">

                </td>
            </tr>
            <tr>
              <td style="padding:0px 30px !important;"  colspan="2">
                <h5 style="font-family: Inter, Arial, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        margin: 0;">
                  Coach Lacey Pruitt
            has a limited number of openings left this month, and because you
            applied, we’re offering you an
            <strong>exclusive 50% OFF your 1st month</strong>
            of coaching to lock in your spot.
                </h5>
              </td>
            </tr>
                     <tr>
              <td style="padding:0px 30px !important;"  colspan="2">
                <h5 style="font-family: Inter, Arial, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        margin: 0;">
                   This isn’t just another cookie-cutter program. Lacey has coached
            athletes to 49 overall wins, earned 5x Coach of the Year, and brings
            elite-level experience to every client — whether you’re prepping for
            the stage or leveling up your lifestyle.
                </h5>
              </td>
            </tr>
            <tr>
               <td height="30">

                </td>
            </tr>
                 <tr>
              <td style="padding:0px 30px !important;"  colspan="2">
                <h5 style="font-family: Inter, Arial, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        margin: 0;">
                    If you're interested,<strong> Click below to reply.</strong>
                </h5>
              </td>
            </tr>
              <tr>
               <td height="30">

                </td>
            </tr>
              <tr >
              <td  colspan="2" align="center">
                <a style="display: block;
        background-color: #c1b7ff;
        width: 50%;
        text-align: center;
        padding: 10px 0;
        text-decoration: none;
        color: black !important;
        font-weight: 700;
        border-radius: 5px;"
                  href="mailto:lacey@laceystrongcoaching.com?subject=Re: Your Submission"
                 
                >
                  Reply
                </a>
              </td>
            </tr>
    
               
             <tr>
               <td height="30">

                </td>
            </tr>

          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
