<html>
  <header>
 <style type="text/css">
@media screen and (max-width:450px){
   h1{font-size: 20px !important}
   h5{font-size: 13px !important}
}
<link href="https://fonts.cdnfonts.com/css/futura-pt" rel="stylesheet">
 <link href="https://fonts.cdnfonts.com/css/be-vietnam-pro" rel="stylesheet">
</style>
  </header>
  <body style=" margin: 0;
        padding: 0;
        background-color: #38b6ff;
        font-family: Arial, sans-serif;">
<table style=" width: 100%;
        padding: 10px 5px;
        background-color: black;
        height: 100%;"  class="outer-table" width="100%" >
      <tr  class="main-tr">
        <td style="padding:30px 7px !important;"  class="main-tr" align="center">
          <table   style="margin:0 !important; max-width: 600px;
        margin: 0 auto;
        border: 5px solid #0023b6;
        background-color: #fdfdfd;
        box-sizing: border-box;" class="box"  width="100%">
           

            
            <!-- Header Row -->
             <td>
                <td height="30">

                </td>
             </td>
            <tr>
              <td style="padding:0px 30px !important;" valign="middle">
                <img
                style=" width: 50%;
        max-width: 150px;
        min-width: 100px;"
                  src="https://lh3.googleusercontent.com/d/1skyODuR3b0uW4cDt8jAKQFBIwUy2pewc"
                  alt="Logo"
                />
              </td>
               <td style="padding:0px 30px !important;" valign="middle" align="right">
                <a href="https://www.laceystrongcoaching.com/" style=" appearance: none;
        background-color: #fafbfc;
        border: 1px solid black;
        border-radius: 8px;
        box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
          rgba(255, 255, 255, 0.25) 0 1px 0 inset;
        font-size:13px;
        font-weight: 700;
        padding: 8px 16px;
         font-family: 'Be Vietnam Pro', sans-serif; 
        text-align: center;
        text-decoration: none;
        color: #24292e !important;
        display: inline-block;">Home</a>
              </td>
            </tr>

            <!-- Spacer -->
            

            <!-- Header Text -->
             <td>
                <td height="30">

                </td>
             </td>
            <tr >
              <td style="padding:0px 30px !important;"  colspan="2">
                <h1 style='font-family: 'Futura PT', sans-serif;
        font-size: 25px;
        font-weight: 600;
        line-height: 44px;
        max-width: 80%;
        text-align: left;color:black !important;'>Hey {{firstName}}!</h1>
              </td>
            </tr>

            <!-- Spacer -->
         

            <!-- Body Text -->
             <td>
                <td height="35">

                </td>
             </td>
                 <tr>
              <td style="padding:0px 30px !important;"  colspan="2">
                <h5 style="font-family: 'Be Vietnam Pro', sans-serif; 
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        margin: 0;color:black !important;">
               <strong>We noticed you haven’t followed up after applying for a coach!</strong> We'd love to have you a part of the team and if you’re still down to chase that next level with your health and fitness, now is the time. 
                </h5>
              </td>
            </tr>
             <tr>
               <td height="30">

                </td>
            </tr>
            <tr>
              <td style="padding:0px 30px !important;"  colspan="2">
                <h5 style="font-family: 'Be Vietnam Pro', sans-serif; 
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        margin: 0;color:black !important;">
                 <strong>We’re offering you an exclusive 50% OFF your 1st month of coaching to lock in your spot.</strong>
                </h5>
              </td>
            </tr>
                    
            <tr>
               <td height="30">

                </td>
            </tr>
                 <tr>
              <td style="padding:0px 30px !important;"  colspan="2">
                <h5 style="font-family: 'Be Vietnam Pro', sans-serif; 
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        margin: 0;color:black !important;">
                    If you're interested,<strong> Click below to reply.</strong>
                </h5>
              </td>
            </tr>
              <tr>
               <td height="30">

                </td>
            </tr>
              <tr >
              <td  colspan="2" align="center">
                <a style="display: block;
        background-color: black;
        width: 50%;
        text-align: center;
        padding: 10px 0;
font-family: 'Be Vietnam Pro', sans-serif; 
        text-decoration: none;
        color: white !important;
        font-weight: 700;
        border-radius: 5px;"
                  href="mailto:lacey@laceystrongcoaching.com?subject=Re: Your Submission"
                 
                >
                  REPLY
                </a>
              </td>
            </tr>
    
               
             <tr>
               <td height="30">

                </td>
            </tr>

          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
